.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-table th.mat-header-cell {
  text-align: center;
  font-weight: bolder;
}

.action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-cell button {
  margin: 5px; 
}

.mat-mdc-card {
    max-width: 100%;
  }
  
  .mat-mdc-card-header {
    margin-bottom: 16px;
  }
  
  .walkinReservation.mat-mdc-card-content:last-child {
    padding-bottom: 0;
  }
  
  button {
    margin-right: 1vw;
  }