.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
}

.seat-map-section {
  width: 50%;
}

.seat-change-section {
  width: 50%;
}
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .seat-map-section {
    flex-grow: 2;
  }

  .seat-change-section {
    flex-grow: 2;
  }
}
