<mat-card>
        <svg [attr.viewBox]="boundaries">
            
    <ng-container *ngFor="let rect of rectangleTables">
      <rect
        [attr.x]="rect.x"
        [attr.y]="rect.y"
        [attr.width]="rect.width"
        [attr.height]="rect.height"
        fill="#BEBDBD"></rect>
    </ng-container>

    <ng-container *ngFor="let circle of circleTables">
      <circle
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.radius"
        fill="#BEBDBD"></circle>
    </ng-container>
            
    <ng-container *ngFor="let seat of seats">
      <circle
        [attr.cx]="seat.x"
        [attr.cy]="seat.y"
        [attr.r]="4"
        [style.fill]="getSeatColor(seat)"
        [class.stroke]="true" />
      <text [attr.x]="seat.x" [attr.y]="seat.y" class="circle">
        {{ seat.id }}
      </text>
    </ng-container>
          
  </svg>
</mat-card>

<mat-card>
  <div class="legend-container">
    <div class="legend-item">
      <div class="legend-color" style="background-color: #689f38"></div>
      <span class="legend-text">Seating Monitors</span>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #3479be"></div>
      <span class="legend-text">Communal Area Seats</span>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: orange"></div>
      <span class="legend-text">Standing Monitors</span>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: gray"></div>
      <span class="legend-text">Unavailable Seats</span>
    </div>
  </div>
</mat-card>
