.circle {
    font-family: Arial, sans-serif;
    font-size: 4px;
    fill: black;
    text-anchor: middle;
    dominant-baseline: central;
    stroke-width: 0.5px;

}
.circle-background {

    fill: gray;

}

.opacity {
    opacity: 0.8;
}

.stroke {
    stroke: black;
    stroke-width: 0.25;
}

.button {
    margin-left: 14px;
}

.active {
    background-color: green;
    color: white;
}

.seatPressed {
    fill: #FF5252;
}

  
/* This CSS code was taken from new-reservation-page.component.css w/ a change of margin for .legend-container */
.legend-container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px; 
}
  
.legend-item {
    display: flex;
    margin-top: 5px;
}
  

.legend-text {
    font-size: 14px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 6px;
}
  
.col1 {
    grid-column: 1;
    align-items: start;
}

.col2{
    grid-column: 2;
    align-items: start;
}

.row1 {
    grid-row: 1;
    align-items: start;
}

.row2{
    grid-row: 2;
    align-items: start;
}

.monitor {
    fill: green;
}
  
.sit_stand {
    fill: red;
}

.reservable {
    fill: green;
}
  
.clicked {
    background-color: rgb(71, 134, 198);
}
  