.circle {
    font-family: Arial, sans-serif;
    font-size: 4px;
    fill: black;
    text-anchor: middle;
    dominant-baseline: central;
    stroke-width: 0.5px;

}
.circle-background {

    fill: gray;

}

.button {
    margin-left: 14px;
}

.active {
    background-color: green;
    color: white;
}

.seatPressed {
    fill: pink;
}

  
/* This CSS code was taken from new-reservation-page.component.css w/ a change of margin for .legend-container */
.legend-container { 
    display: flex;
    flex-wrap: wrap;
    margin: 10px; 
}
  
.legend-item {
    display: flex;
    align-items: center;
    margin-left: 10px; 
    margin-top: 5px;
}
  
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 6px;
}
  
.legend-text {
    font-size: 14px;
}


.monitor {
    fill: green;
}
  
.sit_stand {
    fill: red;
}

.reservable {
    fill: green;
}
  
.clicked {
    background-color: rgb(71, 134, 198);
}
  