<mat-card>
        <svg [attr.viewBox]="boundaries">
            
    <ng-container *ngFor="let rect of rectangleTables">
      <rect
        [attr.x]="rect.x"
        [attr.y]="rect.y"
        [attr.width]="rect.width"
        [attr.height]="rect.height"
        fill="gray">
      </rect>
    </ng-container>

    <ng-container *ngFor="let circle of circleTables">
      <circle
        [attr.cx]="circle.cx"
        [attr.cy]="circle.cy"
        [attr.r]="circle.radius"
        fill="gray">
      </circle>
    </ng-container>
            
    <ng-container *ngFor="let seat of seats">
                
      <a (click)="seatClicked(seat)">
                    
        <circle
          [attr.cx]="seat.x"
          [attr.cy]="seat.y"
          [attr.r]="4"
          [style.fill]="getSeatColor(seat)" />
                    
        <text [attr.x]="seat.x" [attr.y]="seat.y" class="circle">
          {{ seat.id }}
        </text>
                
      </a>
            
    </ng-container>
          
  </svg>
</mat-card>
<!-- This HTML code was taken from new-reservation-page.component.html with an addition of Unavailable Seats -->
<mat-card>
  <div class="legend-container">
        
    <div class="legend-item">
            
      <div class="legend-color" style="background-color: #03691e"></div>
            <span class="legend-text">Seating Monitors</span>     
    </div>
        
    <div class="legend-item">
            
      <div class="legend-color" style="background-color: orange"></div>
            <span class="legend-text">Standing Monitors</span>     
    </div>
        
    <div class="legend-item">
            
      <div class="legend-color" style="background-color: #3479be"></div>
            <span class="legend-text">Communal Area Seats</span>     
    </div>
        
    <div class="legend-item">
              
      <div class="legend-color" style="background-color: #8e8e8e"></div>
              <span class="legend-text">Unavailable Seats</span>       
    </div>
      
  </div>
</mat-card>

<mat-card>
  <!-- Display clicked seats -->
  <mat-card-title>Clicked Seats</mat-card-title>
  <mat-card-content>
    <ul>
      <li *ngFor="let seat of this.mapService.clickedSeats">
        {{ seat.title }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<button
  mat-stroked-button
  class="button"
  [class.active]="isButtonActive()"
  (click)="reserveSeats()">
  Reserve Seats
</button>
<button mat-stroked-button class="button" (click)="clearReserves()">
  Clear Reservations
</button>


